<form class="form-container">
  {{>FormTitle title="Вход"}}

  {{>Input label="Логин" id="login" name="login" type="text" required=true}}

  {{>Input label="Пароль" id="password" name="password" type="password" required=true}}

  <div class="form-actions">
    {{>Button text="Авторизоваться" type="submit" class="submit-button"}}
    {{>Link href="/signin" text="Нет аккаунта? Зарегистрироваться"}}
  </div>
</form>