@use '../../vars.scss' as vars;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 30px;
    text-align: center;
  }
}
