@use '../../vars.scss' as vars;

$border-color: #bdc3c7;
$transition-speed: 0.2s;
$light-blue: #ebf5fb;

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid $border-color;
  background-color: transparent;
  transition: all $transition-speed ease;

  &:focus {
    border-color: vars.$primary-color;
    background-color: $light-blue;
  }
  &.error {
    border-color: vars.$error-color;
  }
}

.validate-error {
  color: vars.$error-color;
  font-size: 12px;
}
