<div class="chat-header">
  <div class="chat-header__profile">
    {{> Avatar size="medium" }}
    <div class="chat-header__name">{{name}}</div>
  </div>
  <div class="chat-header__actions">
    <button class="chat-header__menu-button">
      <div class="dots-menu">
        <span class="dots-menu__dot"></span>
        <span class="dots-menu__dot"></span>
        <span class="dots-menu__dot"></span>
      </div>
    </button>
  </div>
</div>