@use '../../../../vars.scss' as *;

.chat-header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 10px;
  border-bottom: 1px solid $bg-secondary;

  &__profile {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    margin-left: 10px;
  }

  &__menu-button {
    padding: 5px;
  }
}
