<div class="error-page">
  <div class="error-container">
    <div class="error-code">500</div>
    <h1 class="error-title">Ошибка сервера</h1>
    <p class="error-message">Сервер временно не отвечает. Мы уже работаем над
      устранением проблемы</p>
    {{> Link href="/" text="Вернуться на главную"}}
  </div>
</div>