<div>
  <div class="profile-form__field">
      {{>ProfileInput
        label="Старый пароль"
        type="password"
        id="oldPassword"
        name="oldPassword"
      }}
  </div>
  <div class="profile-form__field">
    {{>ProfileInput
      label="Новый пароль"
      type="password"
      id="newPassword"
      name="newPassword"
    }}
  </div>
  <div class="profile-form__field">
    {{>ProfileInput
      label="Подтвердить пароль"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
    }}
  </div>
  <div class="profile-actions">
    {{>Button
      text="Сохранить изменения"
      type="submit"
      class="profile-actions__save"
    }}
  </div>
</div>