@use '../../vars.scss' as *;
@forward './components/load-avatar/style';

.profile-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    flex: 1 1 100%;
  }
}

.profile-avatar-container {
  margin-bottom: $spacing-xl;
  text-align: center;
}

.profile-name {
  font-size: $font-size-lg;
  font-weight: 600;
  color: $text-primary;
  margin-bottom: $spacing-md;
}

.profile-links {
  margin-top: $spacing-xl;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-bottom: $spacing-sm;
    width: 100%;
    text-align: center;
  }

  &__edit,
  &__password {
    color: $primary-color;
    font-size: $font-size-md;
  }

  &__logout {
    color: $error-color;
  }
}

.profile-actions {
  margin-top: $spacing-xl;
  width: 100%;
  display: flex;
  justify-content: center;

  &__save {
    min-width: 200px;
  }
}
