<div class="profile-avatar">
  {{>Avatar src=avatar size="large" class="profile-avatar__image"}}
  <div class="profile-avatar__overlay">
    <span class="profile-avatar__text">Поменять аватар</span>
    <input
      type="file"
      class="profile-avatar__input"
      id="avatar-upload"
      accept="image/*"
    />
  </div>
</div>