<div class="chat-input">
  {{> AttachButton }}
  <input type="text" placeholder="Сообщение" class="chat-input__field" />
  <button class="chat-input__send-button">
    <span class="chat-input__send-icon"></span>
  </button>
</div>