@use "../../../../vars.scss" as vars;

.chat-search {
  padding: 11px;
  border-bottom: 1px solid vars.$bg-secondary;
  position: relative;

  &__input {
    width: 290px;
    height: 32px;
    border-radius: vars.$border-radius-sm;
    background-color: vars.$bg-secondary;
    font-size: 14px;

    &::placeholder {
      color: vars.$text-secondary;
      font-size: 14px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: vars.$text-secondary;
    mask-image: url("/images/search.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    z-index: 1;
  }
}

// Сброс стилей базового Input
.input-container .input.reset-input {
  border: none;
  background-color: vars.$bg-secondary;
  padding: 0 10px 0 30px;
  height: 32px;

  &:focus,
  &:not(:placeholder-shown) {
    background-color: vars.$bg-secondary;
    border: none;

    & ~ .input-underline {
      transform: scaleX(0);
    }

    & ~ .input-label {
      display: none;
    }
  }

  & ~ .input-label {
    display: none;
  }

  & ~ .input-underline {
    display: none;
  }
}
