@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
}

#app {
  width: 100%;
  height: 100%;
  background-color: $bg-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  width: 340px;
  padding: 30px;
  background-color: $bg-white;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-form;
}

@import "./pages/login/style.scss";
@import "./pages/signin/style.scss";
