// Цвета
$primary-color: #3369f3;
$secondary-color: #999999;
$error-color: #ff2f2f;
$success-color: #2fae35;

// Текст
$text-white: #ffffff;
$text-primary: #1e1e1e;
$text-secondary: #999999;

// Фоны
$bg-white: #ffffff;
$bg-secondary: #efefef;
$bg-chat: #fbfbfb;

// Размеры
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Шрифты
$font-family: "Inter", sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

// Тени
$shadow-form: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-default: 0 0 6px rgba(0, 0, 0, 0.14);
$shadow-hover: 0 0 10px rgba(0, 0, 0, 0.2);

// Границы
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
