// Цвета
$primary-color: #3369f3;
$primary-color-hover: rgb(51 105 243 / 21%);
$secondary-color: #999;
$error-color: #ff2f2f;
$success-color: #2fae35;

// Текст
$text-white: #fff;
$text-primary: #1e1e1e;
$text-secondary: #999;

// Фоны
$bg-white: #fff;
$bg-secondary: #efefef;
$bg-chat: #fbfbfb;

// Размеры
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Шрифты
$font-family: 'Inter', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

// Тени
$shadow-form: 0 0 6px rgb(0 0 0 / 14%);
$shadow-default: 0 0 6px rgb(0 0 0 / 14%);
$shadow-hover: 0 0 10px rgb(0 0 0 / 20%);

// Границы
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 8px;
$border-color: #eaeaea;
